* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

table tr td {
    border: 2px solid gray;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
}

table {
    margin: 20px;
}
body{
    background-color: yellow;
}